extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Megan Katherine O'Brien

        p.lead.text-light
          | Full Stack Web Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I believe that we are never done learning. I have a deep interest in technology because it is always innovating and has the ability to help improve people's lives. I seek out new challenges and opportunities so that I can continue to grow and learn.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li jQuery
          li Node.js
          li Express
          li Ruby
        h6 Contact Info

        ul
          li megankob@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/megankob/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/mk0b' target="_blank") GitHub
        a.button.expanded(href='https://teamtreehouse.com/megankatherineobrien' target="_blank") TeamTreehouse
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  